@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1504610926078-a1611febcad3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80")
      no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

h1 {
  color: #c4c4c4;
  margin: 1.5em;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav ul {
  display: flex;
  flex-direction: row;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  padding-right: 35px;
  color: #c4c4c4;
}

.nav ul li a:hover {
  color: #6a9dfd;
}

.content p {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6a9dfd;
  font-size: 1.8em;
  letter-spacing: 2px;
  word-spacing: 4px;
}

span {
  color: #c4c4c4;
}
